@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learning how to use <a href="https://git-scm.com/">git</a> to pull and push github repositories. </p>
    <!-- Add some description below -->
    <p>Let's start to build a app with git.</p>
</div>
