@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Your privacy is important to us. This privacy policy outlines how we collect, use, and protect your personal information when you use our website.</p>
  
  <h2>Information We Collect</h2>
  <p>We may collect the following types of information:</p>
  <ul>
    <li><strong>Personal Information:</strong> This includes your name, email address, and any other information you provide to us through our contact forms or other means of communication.</li>
    <li><strong>Usage Information:</strong> This includes information about how you use our website, such as your IP address, browser type, and operating system.</li>
    <li><strong>Cookies:</strong> We may use cookies to collect information about your browsing behavior on our website. You can control the use of cookies through your browser settings.</li>
  </ul>
